.div-inputs {
    margin: 0 0 10px 100px;
}

.div-center {
    display: flex;
}

input[type=text] {
    width: 104px;
}

.div-btn {
    display: flex;
    flex-direction: column;
    width: 80px;
}

button {
    padding: 5px 10px;
    margin-bottom: 10px;
}

table {
    margin-left: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    width: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}